# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# React build
client/build/
client/dist/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json